<%= form_with(model: answer_option, local: true) do |form| %>
  <% if answer_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer_option.errors.count, "error") %> prohibited this answer_option from being saved:</h2>

      <ul>
      <% answer_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text, %>
    <%= form.text_field :text,, id: :answer_option_text, %>
  </div>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id, id: :answer_option_question_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
