<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exam.name %>
</p>

<p>
  <strong>Exam type:</strong>
  <%= @exam.exam_type %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @exam.duration %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
